.contact-us {
  width: 100vw;
  background-color: #fff;
  padding: 200px 77px;
}

.contact-us__title {
  font-family: AvenirNextDemi, sans-serif;
  font-size: 40px;
  text-align: center;
}

.contact-us__title > span {
  color: #0878cb;
}

.contact-us__content {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.contact-us__content > .contact-us__info {
  flex-grow: 1;
  margin-right: 50px;
}

.contact-us__content > .contact-us__info > .contact-us__commitment > p {
  font-size: 25px;
}

.contact-us__content > .contact-us__info > .contact-us__address > h3 {
  font-size: 35px;
  color: #a1a1a1;
  margin-left: 30px;
  margin-top: 50px;
}

.contact-us__content > .contact-us__info > .contact-us__phone,
.contact-us__email {
  font-size: 20px;
  font-weight: 900;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.contact-us__content > .contact-us__info > .contact-us__email {
  margin-top: 20px;
}

.contact-us__content > .contact-us__info > .contact-us__phone > img,
.contact-us__email > img {
  width: 15px;
  height: 14px;
  margin-right: 10px;
}

.contact-us__content > .contact-us__feedback {
  display: flex;
  flex-direction: column;
}

.contact-us__content > .contact-us__feedback > div > .contact-us__form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.contact-us__content
  > .contact-us__feedback
  > div
  > .contact-us__form-control
  > label {
  font-size: 20px;
  margin-bottom: 10px;
}

.contact-us__content
  > .contact-us__feedback
  > div
  > .contact-us__form-control
  > input,
textarea {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 10px;
  width: 500px;
  font-size: 20px;
  font-family: AvenirNext, sans-serif;
}

.contact-us__content
  > .contact-us__feedback
  > div
  > .contact-us__form-control
  > input,
textarea:focus {
  outline: none;
}

.contact-us__content > .contact-us__feedback > div > button {
  color: #fff;
  background: #000;
  font-family: AvenirNextDemi, sans-serif;
  border: none;
  border-radius: 5px;
  padding: 10px 15px 8px 15px;
  cursor: pointer;
  float: right;
}
