@import url("https://fonts.googleapis.com/css?family=Montserrat:100&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Actor&display=swap");

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Actor", sans-serif;
  height: 100vh;
  overscroll-behavior-y: none;
  background-color: "#fff";
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    125deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(113, 194, 255, 1) 0%,
    rgba(8, 120, 203, 1) 57%
  );
}

.main-rectangle {
  background-color: #fff;
  border-radius: 24px;
  margin: 50px 57px;
  height: 100%;
  padding: 35px 35px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main-rectangle > .image {
  position: absolute;
  height: calc(100% - 2 * 35px);
  right: 35px;
  user-select: none !important;
  pointer-events: none;
}

.main-rectangle > .header {
  display: flex;
  align-items: center;
}

.main-rectangle > .header > .header__title {
  font-size: 28px;
  font-weight: 700;
  color: #0878cb;
  margin-right: 30px;
}

.main-rectangle > .header > .header__about-us > a {
  font-size: 28px;
  font-weight: lighter;
  color: #30333b;
}

.main-rectangle > .content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 50px 0;
}

.main-rectangle > .content > .content__slogan {
  font-family: "Helvetica Neue";
  line-height: 55px;
  font-size: 48px;
  color: #30333b;
  margin-bottom: 20px;
}

.main-rectangle > .content > .content__description {
  color: #8d8d8d;
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 2px;
}

.footer > .footer__button {
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 360;
  letter-spacing: 1px;
  font-size: 18px;
  font-family: "Helvetica Neue";
  color: #fff;
  background: #0878cb;
  cursor: pointer;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

.footer > .footer__button:focus {
  outline: none;
  /* border: none; */
}

#root {
  background-color: #f4f7fa;
}
