@font-face {
  src: url(../fonts/AvenirNext/AvenirNextLTPro-Regular.otf);
  font-family: AvenirNext;
}

@font-face {
  src: url(../fonts/AvenirNext/AvenirNextLTPro-Demi.otf);
  font-family: AvenirNextDemi;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  font-family: AvenirNext;
}

img {
  pointer-events: none;
}

button:focus {
  outline: none;
}

body {
  font-family: "AvenirNext", sans-serif;
  height: 100vh;
  overscroll-behavior-y: none;
  background-color: "#fff";
  user-select: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #fff;
}

.main-rectangle {
  background-color: #fff;
  border-radius: 24px;
  margin: 50px 57px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
}

.main-rectangle > .header {
  display: flex;
  align-items: center;
}

.main-rectangle > .header > .header__title {
  font-size: 20px;
  font-weight: 900;
  color: #000;
  margin-right: 0px;
  font-family: AvenirNextDemi, sans-serif;
}

.main-rectangle > .header > img {
  border-radius: 50%;
  margin-right: 5px;
}

.main-rectangle > .header > .header__menu {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 0 0 0 20px;
}

.main-rectangle > .header > .header__menu > .header__about-us > button,
.header__services > button,
.header__contact > button {
  font-family: AvenirNext, sans-serif;
  font-size: 20px;
  margin: 0 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.main-rectangle > .header > .header__login-register {
  display: flex;
  align-items: center;
}

.main-rectangle > .header > .header__login-register > .header__login,
.header__register {
  margin: 0 10px;
  font-size: 16px;
}

.main-rectangle > .header > .header__login-register > .header__register {
  background: #000;
  color: #fff;
  padding: 9px 20px 5px 20px;
  display: flex;
  align-items: center;
  border-radius: 38px;
  text-transform: uppercase;
}

.main-rectangle > .header > .header__login-register > .header__login {
  font-weight: 900px;
  color: #000;
  text-transform: uppercase;
}

.main-rectangle > .content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.main-rectangle > .content > .content__image > .image {
  width: 769px;
  right: 35px;
  bottom: 0;
  user-select: none !important;
  pointer-events: none;
}

.main-rectangle > .content > .content__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.main-rectangle > .content > .content__text > .content__slogan {
  font-family: "AvenirNext", sans-serif;
  line-height: 95px;
  font-size: 90px;
  font-weight: bolder;
  color: #000;
  margin-bottom: 20px;
}

.main-rectangle > .content > .content__text > .content__slogan > span {
  color: #0878cb;
}

.main-rectangle > .content > .content__text > .content__button {
  padding: 10px 20px 7px 20px;
  border-radius: 50px;
  font-family: AvenirNextDemi, sans-serif !important;
  font-weight: 360;
  letter-spacing: 1px;
  font-size: 18px;
  font-family: "Helvetica Neue";
  color: #fff;
  background: #000;
  cursor: pointer;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

footer {
  background: #000;
  color: #fff;
  padding: 30px 77px 50px 77px;
  display: flex;
  justify-content: space-between;
}

.footer h4 {
  margin-bottom: 20px;
}

.footer ul {
  list-style: none;
}

#root {
  background-color: #f4f7fa;
}

/* @media (max-width: 1024px) {
  .wrapper {
    background: linear-gradient(
      125deg,
      rgb(76, 75, 99) 0%,
      rgba(113, 194, 255, 1) 0%,
      rgba(8, 120, 203, 1) 57%
    );
    padding: 0;
  }
  .main-rectangle {
    margin: 50px 30px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 3px 3px 10px #405fb6;
  }
  .main-rectangle > .image {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .main-rectangle > .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-rectangle > .header > .header__title {
    display: none;
  }

  .main-rectangle > .content > .content__description {
    color: #333;
    font-weight: 400;
  }

  .main-rectangle > .content {
    padding: 0 !important;
    justify-content: center !important;
    align-items: center;
  }

  footer {
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .main-rectangle > .content > .content__slogan {
    font-size: 35px;
  }
  .main-rectangle > .content > .content__description {
    font-size: 20px;
  }
  footer {
    position: absolute;
    bottom: 30%;
    left: 50%;
  }
}

@media (max-width: 320px) {
  .main-rectangle > .image {
    width: 90px;
    height: 90px;
    box-shadow: 1px 2px 5px #7e8d99;
  }
  .main-rectangle > .content > .content__slogan {
    font-size: 20px;
  }
  .main-rectangle > .content > .content__description {
    font-size: 10px;
    text-align: center;
    font-weight: 500;
  }
  footer {
    position: absolute;
    bottom: 20%;
    left: 50%;
  }
}

@media (width: 360px) {
  footer {
    position: absolute;
    bottom: 15%;
    left: 50%;
  }
}

@media (width: 375px) {
  footer {
    position: absolute;
    bottom: 15%;
    left: 50%;
  }
} */
