@import url("https://fonts.googleapis.com/css?family=Montserrat:100&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Actor&display=swap");

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Actor", sans-serif;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  border-left: 20px solid #521ccb;
  border-right: 20px solid #521ccb;
  border-top: 25px solid #521ccb;
  border-bottom: 25px solid #521ccb;
  height: 100vh;
}

.header-home {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f7fa;
  padding: 2rem 5.2567rem;
  width: 100%;
}

.logo {
  margin: 0;
}

.menu {
  flex-grow: 1;
}

.menu > ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  text-transform: uppercase;
}

.menu > ul > li:not(:last-child) {
  margin-right: 3rem;
}

.menu-toggled {
  display: none;
}

.main {
  background: #f4f7fa;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main .title {
  font-size: 3rem;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  color: #521ccb;
}

.main .sub-title {
  font-weight: lighter;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  color: #a8a8a8;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  color: #b5b5b5;
}

.footer .slogan {
  color: #5a657d;
  font-size: 1.275rem;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 768px) {
  .wrapper {
    border: none;
    overflow-x: hidden;
  }

  .menu {
    display: none;
  }

  .main {
    width: 100%;
    padding: 0 20px;
    justify-content: space-around;
  }

  .main .title {
    margin-bottom: 2rem;
    margin-top: 2.5rem;
    text-align: center;
  }

  .main .sub-title {
    display: none;
  }

  .footer {
    display: none;
  }
}
